Repository dailymuse/musekafka-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pydocstyle, bandit, flake8, mypy, pytest

isort:
  name: Sort imports
  entry: ./devenv isort
  language: system

black:
  name: Format code
  entry: ./devenv black
  language: system

pydocstyle:
  name: Check docstring style
  entry: ./devenv pydocstyle
  language: system

bandit:
  name: Run security analysis
  entry: ./devenv bandit
  language: system

flake8:
  name: Run linters
  entry: ./devenv flake8
  language: system

mypy:
  name: Check types
  entry: ./devenv mypy
  language: system

pytest:
  name: Execute tests
  entry: ./devenv pytest
  language: system

Add vscode configuration
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

Add lint & test steps to CI config
  .circleci/config.yml
Due: none

Add ability to publish to gemfury
  .circleci/config.yml
  ci/publish
Due: none

Add core logic for consumers code
  .pre-commit-config.yaml
  Makefile
  docker-compose.yml
  examples/__init__.py
  examples/batch.py
  examples/stream.py
  mypy.ini
  pyproject.toml
  requirements.txt
  setup.py
  src/musekafka/consumers.py
  src/musekafka/deserialization.py
  src/musekafka/exceptions.py
  src/musekafka/message.py
  src/musekafka/shutdown.py
  tests/integration/__init__.py
  tests/integration/conftest.py
  tests/integration/test_consumers.py
  tests/unit/__init__.py
  tests/unit/test_deserialization.py
  tests/unit/test_message.py
  tests/unit/test_version.py
  tox.ini
Due: isort, black, pydocstyle, bandit, flake8, mypy, pytest

Switch to ubuntu image and machine executor
  .circleci/config.yml
  setup.py
  tox.ini
Due: isort, black, pydocstyle, bandit, flake8, mypy

Add additional context message bindings
  .flake8
  src/musekafka/consumers.py
  src/musekafka/message.py
Due: isort, black, pydocstyle, bandit, flake8, mypy

Add logic for from_beginning and much more :)
  .pre-commit-config.yaml
  examples/batch.py
  examples/stream.py
  mypy.ini
  requirements.txt
  src/musekafka/consumers.py
  tests/integration/test_consumers.py
Due: isort, black, pydocstyle, bandit, flake8, mypy, pytest

Add contents to readme
  README.md
  docker-compose.yml
Due: none

PLAT-6084: Update CircleCI Image
  .circleci/config.yml
  .vscode/settings.json
  src/musekafka/consumers.py
Due: isort, black, pydocstyle, bandit, flake8, mypy

update to allow for multiple concumers within a group
  src/musekafka/consumers.py
Due: isort, black, pydocstyle, bandit, flake8, mypy

update circleci
  .circleci/config.yml
  .gitignore
Due: none

remove version
  docker-compose.yml
Due: none

update zookeepr
  docker-compose.yml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pydocstyle: any of: \.py$
  bandit: any of: \.py$, but not: tests/.*.py
  flake8: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: tests/.*.py and \.py$
